.idea
.DS_Store
Solvation_1/Runs
imagen
Lectures
Bulls_and_Cows.py
test notebook.ipynb
test2.ipynb
Solvation_1/Test1.ipynb
Solvation_1/test_package1
Solvation_1/Other
Solvation_1/Jupyter_examples/
Solvation_1/Runs/Backups
Solvation_1/token.txt
