.idea
.DS_Store
Runs
imagen
Lectures
Bulls_and_Cows.py
test notebook.ipynb
test2.ipynb
Test1.ipynb
test_package1
Other
Jupyter_examples/
Runs/Backups
token.txt
/Tables/Reserve/
/Training_files/000_tg_coach.py
/Training_files/*Consequent.py
/Training_files/Example_KRR1.py
/Training_files/Example_Lin2.py
/Training_files/Example_Res2.py
/Run_results/
/Solvation_1/Run_results/
/solvatum-1.0.0.zip
/Trainer/